@model OdeToFood.ViewModels.HomePageViewModel

@{ 
    ViewBag.Title = "Home";
    //Layout = "~/Views/Shared/_Layout.cshtml"; used in _ViewStart, to render in all pages
}

<h1>Welcome!</h1>

@foreach(var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}

<div>
    <a asp-action="Create">Create</a>
</div>

@section footer{
<h3>@Model.CurrentMessage</h3>
}
