@model OdeToFood.ViewModels.HomePageViewModel

@{ 
    ViewBag.Title = "Home";
    //Layout = "~/Views/Shared/_Layout.cshtml"; used in _ViewStart, to render in all pages
}

<h1>Welcome!</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
            {
        <tr>
            <td>
                @*<a href="/home/details/@restaurant.Id">Details</a>*@
                @Html.ActionLink("View", "Details", new { id = restaurant.Id }) @*jesli akcja w tym samym kontrolerze, to nie trzeba podawac jego nazwy*@
            </td>
            <td>@restaurant.Name</td>
        </tr>
    }
</table>

@section footer{
<h3>@Model.CurrentMessage</h3>
}
